body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  display: flex;
  background-color: #fff;
  margin: 20px 0;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 90%;
}

.left-pane {
  flex: 1;
  border-right: 1px solid #ddd;
  padding-right: 40px;
}

.right-pane {
  flex: 2;
  overflow-y: auto;
  max-height: 650px;
  padding-left: 20px;
}

h1,
h3 {
  color: #333;
}

label {
  display: block;
  margin-top: 20px;
  font-size: 16px;
}

input {
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

#output {
  text-align: left;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #4caf50;
  color: white;
  text-align: center;
}

td {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#output p {
  text-align: justify;
}
